{% extends 'store/base.html' %}

{% block content %}
<section class="container py-5">
  <div class="mx-auto" style="max-width: 620px;">
    <p class="mb-0 text-secondary lh-lg">
      Welcome to NextGen Mobiles, your trusted destination for the latest mobile phones and accessories. We are passionate about connecting you with the world through cutting-edge technology. Our carefully curated selection features top brands and the newest models, all at competitive prices.
    </p>
  </div>
</section>
{% endblock %}
