{% extends 'store/base.html' %}

{% block page_header %}{% endblock %}

{% block content %}

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="product-detail row gx-0 align-items-center">

            <!-- Product Image -->
            <div class="col-md-6">
                <img class="product-detail-image w-100 mb-5 mb-md-0"
                     src="{{ product.image.url }}"
                     alt="{{ product.name }}" />
            </div>

            <!-- Product Details -->
            <div class="col-md-6">

                <div class="category-label mb-2">
                    Category: {{ product.category }}
                </div>

                <h1 class="display-5 fw-bolder">
                    {{ product.name }}
                </h1>

                <div class="price mb-4">

                    {% if product.is_sale %}
                        <span class="text-decoration-line-through">
                            ${{ product.price }}
                        </span>

                        <span class="text-primary">
                            ${{ product.sale_price }}
                        </span>

                    {% else %}
                        <span class="text-primary">
                            ${{ product.price }}
                        </span>
                    {% endif %}

                </div>


                <p class="lead">
                    {{ product.description }}
                </p>


                <p>
                    {{ product.more_info }}
                </p>


                <form class="d-flex gap-2" method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <label class="visually-hidden" for="inputQuantity">Quantity</label>
                    <input class="form-control text-center" id="inputQuantity" name="quantity" type="number" value="1" min="1" style="max-width: 5rem" />
                    <button class="btn btn-primary flex-shrink-0 px-4" type="submit"><i class="bi-cart-fill me-1"></i>Add to cart</button>
                </form>

            </div>

        </div>
    </div>
</section>


{% comment %} <!-- Related products section-->
<section class="py-5 bg-light">

    <div class="container px-4 px-lg-5 mt-5">

        <h2 class="fw-bolder mb-4">
            Related products
        </h2> {% endcomment %}


        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


            {% for item in related_products %}

            <div class="col mb-5">

                <div class="card h-100">

                    <!-- Product image -->
                    <img class="card-img-top"
                         src="{{ item.image.url }}"
                         alt="{{ item.name }}" />


                    <!-- Product details -->
                    <div class="card-body p-4">

                        <div class="text-center">

                            <h5 class="fw-bolder">
                                {{ item.name }}
                            </h5>


                            ${{ item.price }}

                        </div>

                    </div>


                    <!-- Product actions -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                        <div class="text-center">

                            <a class="btn btn-outline-dark mt-auto"
                               href="{% url 'productinfo' item.id %}">
                                View options
                            </a>

                        </div>

                    </div>

                </div>

            </div>

            {% endfor %}


        </div>

    </div>

</section>


{% endblock %}
